NEXT_PUBLIC_SUPABASE_URL=https://anllbkqxkfgdjltgawoe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFubGxia3F4a2ZnZGpsdGdhd29lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3MzU5OTMsImV4cCI6MjA5MzMxMTk5M30.F5IGz1BQEy8Upwc88EhMLbyTggCfXr9TFveIjMJ4Los
